In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("tweets.csv") 
data.head()

,user,fullname,tweet-id,timestamp,url,likes,replies,retweets,text,html
0,julia_vaingurt,Julia Vaingurt,746855460402302976,2016-06-25 23:59:52,/julia_vaingurt/status/746855460402302976,0,0,0,Bitcoin: Pissed-off customers sue GAW Miners i...,"<p class=""TweetTextSize js-tweet-text tweet-te..."
1,haj1106,hunter,746855393695924224,2016-06-25 23:59:36,/haj1106/status/746855393695924224,0,0,0,I'm not gone lie I be staring at pplwhat btc's...,"<p class=""TweetTextSize js-tweet-text tweet-te..."
2,rimbit,Rimbit ➡,746855315589652480,2016-06-25 23:59:17,/rimbit/status/746855315589652480,0,0,0,Did you miss Beyond Bitcoin Hangout? I CANNOT ...,"<p class=""TweetTextSize js-tweet-text tweet-te..."
3,coinstories,Coin Stories,746855306026680321,2016-06-25 23:59:15,/coinstories/status/746855306026680321,0,0,0,What are the merits and risks of investing in ...,"<p class=""TweetTextSize js-tweet-text tweet-te..."
4,bitcointonic,Julia Edling,746855274816798720,2016-06-25 23:59:08,/bitcointonic/status/746855274816798720,1,0,1,Hash Ocean #Bitcoin Cloud Mining №1 in the wor...,"<p class=""TweetTextSize js-tweet-text tweet-te..."

In [3]:
desc = data.describe()
del data['html'];
del data['url'];
data.head()

,user,fullname,tweet-id,timestamp,likes,replies,retweets,text
0,julia_vaingurt,Julia Vaingurt,746855460402302976,2016-06-25 23:59:52,0,0,0,Bitcoin: Pissed-off customers sue GAW Miners i...
1,haj1106,hunter,746855393695924224,2016-06-25 23:59:36,0,0,0,I'm not gone lie I be staring at pplwhat btc's...
2,rimbit,Rimbit ➡,746855315589652480,2016-06-25 23:59:17,0,0,0,Did you miss Beyond Bitcoin Hangout? I CANNOT ...
3,coinstories,Coin Stories,746855306026680321,2016-06-25 23:59:15,0,0,0,What are the merits and risks of investing in ...
4,bitcointonic,Julia Edling,746855274816798720,2016-06-25 23:59:08,1,0,1,Hash Ocean #Bitcoin Cloud Mining №1 in the wor...

In [14]:
import numpy as np
import datetime
# data['timestamp'] = pd.to_datetime(data['timestamp']).astype(int)
# data.head()
listTimes = data['timestamp']
timeStamps = []

for eachTime in listTimes:
    timeStamps.append(datetime.datetime.strptime(eachTime, '%Y-%m-%d %H:%M:%S'))

[datetime.datetime(2016, 6, 25, 23, 59, 52), datetime.datetime(2016, 6, 25, 23, 59, 36), datetime.datetime(2016, 6, 25, 23, 59, 17), datetime.datetime(2016, 6, 25, 23, 59, 15), datetime.datetime(2016, 6, 25, 23, 59, 8)]

In [15]:
data['timestamp'] = timeStamps

In [24]:
from datetime import timezone# data['timestamp'][0]
timeStampsUnix = []
for eachTime in data['timestamp']:
    timestamp = eachTime.replace(tzinfo=timezone.utc).timestamp()
    timeStampsUnix.append(int(timestamp))
    
data['timeStampUnix'] = timeStampsUnix
data.head()

,user,fullname,tweet-id,timestamp,likes,replies,retweets,text,timeStampUnix
0,julia_vaingurt,Julia Vaingurt,746855460402302976,2016-06-25 23:59:52,0,0,0,Bitcoin: Pissed-off customers sue GAW Miners i...,1466899192
1,haj1106,hunter,746855393695924224,2016-06-25 23:59:36,0,0,0,I'm not gone lie I be staring at pplwhat btc's...,1466899176
2,rimbit,Rimbit ➡,746855315589652480,2016-06-25 23:59:17,0,0,0,Did you miss Beyond Bitcoin Hangout? I CANNOT ...,1466899157
3,coinstories,Coin Stories,746855306026680321,2016-06-25 23:59:15,0,0,0,What are the merits and risks of investing in ...,1466899155
4,bitcointonic,Julia Edling,746855274816798720,2016-06-25 23:59:08,1,0,1,Hash Ocean #Bitcoin Cloud Mining №1 in the wor...,1466899148

In [28]:
coinData = pd.read_csv("bitstampUSD_1-min_data_2012-01-01_to_2019-08-12.csv")
coinData = coinData.dropna()
coinData.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
477,1325346600,4.39,4.39,4.39,4.39,48.000000,210.720000,4.390000
546,1325350740,4.50,4.57,4.50,4.57,37.862297,171.380338,4.526411
547,1325350800,4.58,4.58,4.58,4.58,9.000000,41.220000,4.580000
1223,1325391360,4.58,4.58,4.58,4.58,1.502000,6.879160,4.580000
1895,1325431680,4.84,4.84,4.84,4.84,10.000000,48.400000,4.840000

In [36]:
coinData['Timestamp'] =

numpy.int64

In [7]:
from datetime import datetime

In [12]:
now = datetime.now()
timestamp = datetime.timestamp(now)
print("timestamp =", int(timestamp))
timestamp = 1545730073
dt_object = datetime.fromtimestamp(timestamp)
print(str(dt_object))

timestamp = 1573411688
2018-12-25 02:27:53

In [15]:
pd.to_datetime(coinData['Timestamp']).apply(lambda x: x.date())

0          1970-01-01
1          1970-01-01
2          1970-01-01
3          1970-01-01
4          1970-01-01
              ...
3997692    1970-01-01
3997693    1970-01-01
3997694    1970-01-01
3997695    1970-01-01
3997696    1970-01-01
Name: Timestamp, Length: 3997697, dtype: object

In [43]:
coinData = coinData.rename(columns = {'timestamp':'timeStampUnix'})
# coinData.columns
result = pd.merge(data, coinData, how='left', on=['timeStampUnix'])
result.head()

,user,fullname,tweet-id,timestamp,likes,replies,retweets,text,timeStampUnix,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,julia_vaingurt,Julia Vaingurt,746855460402302976,2016-06-25 23:59:52,0,0,0,Bitcoin: Pissed-off customers sue GAW Miners i...,1466899192,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,haj1106,hunter,746855393695924224,2016-06-25 23:59:36,0,0,0,I'm not gone lie I be staring at pplwhat btc's...,1466899176,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,rimbit,Rimbit ➡,746855315589652480,2016-06-25 23:59:17,0,0,0,Did you miss Beyond Bitcoin Hangout? I CANNOT ...,1466899157,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,coinstories,Coin Stories,746855306026680321,2016-06-25 23:59:15,0,0,0,What are the merits and risks of investing in ...,1466899155,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bitcointonic,Julia Edling,746855274816798720,2016-06-25 23:59:08,1,0,1,Hash Ocean #Bitcoin Cloud Mining №1 in the wor...,1466899148,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
result = result.dropna()
result.head()

,user,fullname,tweet-id,timestamp,likes,replies,retweets,text,timeStampUnix,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
36,TickerCrypto,Crypto Price Ticker,746853983763894273,2016-06-25 23:54:00,0,0,0,RAD/BTC ฿0.00019979 Vol.15.85444959 | YoBit ฿0...,1466898840,660.44,660.44,660.44,660.44,0.266000,175.677040,660.440000
321,ThyrsMRFDschord,Thyrs MRF Dschorda,746844674510422018,2016-06-25 23:17:00,1,0,0,Bitcoin Rollercoaster Rides Brexit As Ether Pr...,1466896620,663.27,664.97,663.27,664.97,0.040000,26.564800,664.120000
599,bitcoin_ai,bitcoin AI trade,746838632367960064,2016-06-25 22:53:00,0,0,0,Bitstamp: $664.87/BTC - last trade of USD/BTC ...,1466895180,664.93,665.00,664.93,665.00,51.000000,33913.903341,664.978497
822,Winkdexer,Winkdex Tweets,746831837859844096,2016-06-25 22:26:00,0,0,3,Winkdex Bitcoin price changed +0.50% to $660.7...,1466893560,661.25,661.25,659.64,659.64,10.017205,6613.662236,660.230311
1032,BeInTheKnow,Know More,789616256903159808,2016-10-21 23:56:00,0,0,0,Win bitcoin. Daily drawing. Details: 10 Things...,1477094160,629.00,629.00,629.00,629.00,0.180360,113.446276,629.000000

In [47]:
result.to_csv('MergedDataset.csv')